<html>
<head>
    <title>Table Details - {TableName}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div id="{TableId}">
        <h2>Table Details - {TableName}</h2>
        <br />
        <a href="default.html">Go back</a>
        <br />
        <br />
        <table align="left" cellspacing="2" cellpadding="2" border="1">
            <tr>
                <th colspan="8" align="center">Table Properties</th>
            </tr>
            <tr>
                <th>Primary Key</th>
                <th>Field Name</th>
                <th>Data Type</th>
                <th>Size</th>
                <th>Foreign Key</th>
                <th>Allow Null</th>
                <th>Default</th>
                <th>Description</th>
            </tr>
            [ColumnsList]
        </table>
    </div>
</body>
</html>