<html>
    <head>
        <title>Database Dictionary</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script>
            function displayTableProperties(obj) {
                if (obj != '') {
                    var htmlContent = document.getElementById(obj).innerHTML;
                    document.getElementById('dialog').innerHTML = htmlContent;
                }
            }
        </script>
    </head>
    <body>
        <table id="tblTables" align="left" cellspacing="0" cellpadding="2" width="100%">
            <tr>
                <th><h2>User Tables ({TableCount})</h2></th>
            </tr>
            <tr>
                <td>
                    <select id="tableList" onChange="displayTableProperties(this.value)">
                        <option value="">Select Table</option>
                        {TablesList}
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="dialog" title="Table Details">
                    </div>
                </td>
            </tr>
        </table>
        {TableDetailsList}
        <br/><br/><br/>
        <p style="font-family:arial; font-size:8pt; text-align:center; left: 0; bottom: 0; width: 100%;">Confidential Information. For Internal Use Only.</p>
    </body>	
</html>
