<div id="{TableId}" style="display: none">
	<h2>{TableName}</h2>
    <table align="left" cellspacing="2" cellpadding="2" border="1">
        <tr>
            <th colspan="8" align="center">Table Properties</th>
        </tr>
        <tr>
            <th>Primary Key</th>
            <th>Field Name</th>
            <th>Data Type</th>
            <th>Size</th>
            <th>Identity</th>
            <th>Allow Null</th>
            <th>Default</th>
            <th>Description</th>
        </tr>
        [ColumnsList]
    </table>
</div>